html, body{
	width: 100%;
    	height: 100%;
   	margin: 0px;
   	padding: 0px;
   	overflow-x: hidden; 
	font-size: 18px;
	
}
img {
	height: 100%;
	width: 100%;
}
img.icons {
	height: auto;
}

.navbar {
	font-weight: 600;
}
.bg {
	transition: 0.5s ease;
	background-color: transparent;
}
.bg.scrolled {
	background-color: white;
}
.carousel-caption {
	top: 15%;
	font-family: 'Fraunces';
	font-weight: 600;
	letter-spacing: 5px;
}
.caption {
	font-family: 'Fraunces';
	font-weight: 900;
}
.text {
	font-family:  'Barlow Semi Condensed'; 
}
a.learn-more1:link {
	color: black;
}
a.learn-more1:hover { 
	text-decoration-style: line;
	text-decoration-color:  hsl(51, 100%, 49%);
	text-decoration-thickness: 5px;
}
a.learn-more:link {
	color: black;
}	
a.learn-more:hover {
	text-decoration-style: line;
	text-decoration-color: hsl(7, 99%, 70%);
	text-decoration-thickness: 5px;
}
#section3 {
	position: relative;
	text-align: center;
}
.graphic-design {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%); /* to place the text inside the image */
	color: hsl(167, 40%, 24%);
} 
.photography {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: hsl(198, 62%, 26%)
}
.client {
	color: #F2F3F4;
}
#footer {
	text-align: center;
	height: 350px;
	color: #117A65;
	background-color: #76D7C4;
	padding-top: 50px;
	padding-bottom: 30px;
}
a.footer-link {
	color: #117A65;
}
a.footer-link:hover {
	color: white;
	text-decoration: none;
}
a.icon-link:link {
	text-decoration: none;
}
a.icon-link:hover {
	color: white;
}
.attribution {
	padding-top: 50px;
	text-align: center;
}


@media screen and (max-width: 576px) {
	.navbar-nav {
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: white;
		text-align: center;
		vertical-align: middle;
		
	}
	
	a.nav-link {
		color: black;
	}
	a.nav-link:hover {
		padding: 5px;
		border-radius: 30px;
		background-color: hsl(51, 100%, 49%);
		color: black;
		width: 30%;
		margin: 0 auto;
	}
	.s1-text1 {
		padding: 30px;
		text-align: center;
	}
	.s2-text1 {
		padding: 30px;
		text-align: center;
	}
	#section4 {
		padding: 50px;
	}
}
@media screen and (min-width: 577px) and (max-width: 767px) {   
	.navbar-nav {
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: white;
		text-align: center;
		vertical-align: middle;
	}
	
	a.nav-link {
		color: black;
	}
	a.nav-link:hover {
		padding: 3px;
		border-radius: 30px;
		background-color: hsl(51, 100%, 49%);
		color: black;
		width: 25%;
		margin: 0 auto;
	}
	.s1-text1 {
		padding: 50px;
		text-align: center;
	}
	.s2-text1 {
		padding: 50px;
		text-align: center;		
	}
	#section4 {
		padding: 50px;
	}
	.thomas {
		margin-top: 10px;
	}
	.jennie {
		margin-top: 10px;
	}
}
@media screen  and (max-width: 991px) and (min-width: 768px) {
	a.nav-link {
		color: white;
	}
	a.nav-link:hover {
		text-decoration: none;
		color: white;
	}
	
	.navbar {
		color: white;
	}
	.navbar-nav {
		color: white;
	}
	.nav-item:hover {
		padding: 2px;
		border-radius: 30px;
		background-color: #AED6F1;
		color: white;
	}
	
	.s1-image {
		position: relative;
		left: 50%;
	}
	.s1-text {
		position: relative;
		right: 50%;
	}
	.s1-text1 {
		padding: 50px;
	}
	.s2-text1 {
		padding: 50px;
	}
	.graphic-design {
		top: 60%;
	}
	#section4 {
		padding: 50px;
	}
}
@media(min-width: 992px) {
	a.nav-link {
		color: white;
	}
	a.nav-link:hover {
		text-decoration: none;
		color: white;
	}
	
	.navbar {
		color: white;
	}
	.navbar-nav {
		color: white;
	}
	.nav-item:hover {
		padding: 2px;
		border-radius: 30px;
		background-color: #AED6F1;
		color: white;
	}
	.s1-image {
		position: relative;
		left: 50%;
	}
	.s1-text {
		position: relative;
		right: 50%;
	}
	
	.s1-text1 {
		padding: 150px 100px 50px 100px;
		
	}
	.s2-text1 {
		padding: 150px 100px 50px 100px;
	}
	#section4 {
		padding: 100px 150px;
	}
	
}

